@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1500px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);


}

.container .left_Side {
    position: relative;
    background: #2a2a2a;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 5px solid rgba(255,255,255,0.2);
}

.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
    border-bottom: 5px solid rgba(255,255,255,0.2);
}

.title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

button {

    font-size: large;
    margin-top: 10%;
    cursor: pointer;
    color: black;
    background-color:#848c90;
    border-radius: 10%;
    padding: 5px;
    
}

.contactInfo ul {
    position: relative;
    margin-bottom: 30px;
}

.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 25px;
    font-size: 20px;
    color: #f8922d;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactInfo.education li {
    margin-bottom: 15px;
    padding-bottom: 10%;
}

.contactInfo.education h5 {
    color: #ffac59;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contactInfo.education h4 {
    color: #fff;
    font-weight: 500;
   
}

.contactInfo.references li {
    margin-bottom: 5px;
    color: #ffac59;
}

.contactInfo.references h5 {
    color: #c4c2c2;
    font-weight: 400;
    padding-bottom: 10%;
}
.contactInfo.references h4 {
    color: #fff;
    font-weight: 500;
    padding-top: 5%;
   
}

.contactInfo.skills {
    border-bottom: 5px solid rgba(255,255,255,0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 5%;
    padding-top: 15%;
}

.contactInfo.skills ul {
    position: relative;
    color: #383837;
    font-weight: 300;
    font-size: 14px;
  
}

.container .right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
}



.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: #ee9134;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color: #151516;
    font-weight: 600;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: gray;
    font-size: 16px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skill .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 13px;
    background: #c4c2c2;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 00;
    height: 100%;
    background: #8b8b8b

}

.title3 {
    color: #ee9134;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


.contactInfo.personalskills ul {
    position: relative;
    color: #383837;
    font-weight: 500;
    font-size: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 7%;
}


  .list1, .list2, .list3 {
    display: inline-block;
    vertical-align: top;
    
  }
  
  .list1 {
    margin-right: 20px;
  }


img {
    max-width: 250px;
    border-radius: 175px;
}

